.houseBici {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  gap: 20px;
  padding: 10px;
} 

.postBlog {
  width: 90%;
  margin-left: 5%;
  margin-top: 5em;
}

.titlePost {
  text-align: center;
}

.boxMap {
  flex-basis: 400px;
  flex-grow: 1;
  /* display: flex;
  justify-content: center;
  justify-items: center; */
}

.infoHouse {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.iconBici {
  width: 100px;
  height: auto;
}

.boxInfoMap {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.bannerTitle {
  display: grid;
  place-content: center;
  padding: 5px;
  cursor: pointer;
}

.proyectTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.fatherBoxImg {
  display: flex;
  gap: 10px;
  margin-right: 8px;
}

.descriptionPrjct {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.textPost {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
}

.subBoxImg {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 1em;
}

.fhrIcon {
  display: grid;
  place-content: center;
}

.subBoxImg:hover {
  background: #efefef;
}

.titleBoxImg {
  display: grid;
  place-content: center;
  margin-right: 8px;
}

.arrowIcon {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 700px) {
  .titlePost {
    margin-top: 2em;
  }
}